.container {
  margin-left: 0px;
  background-color: #7e858e;
  border-radius: 18px;
  width: 25vw;
}
.src-img {
  margin-left: 0px;
}
@media screen and (max-width: 600px) {
  .container {
    margin-top: 18px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .similar-div {
    display: flex;
    flex-direction: column;
  }
}
.h1element {
  margin-top: 10px;
  font-size: 30px;
}

.similar-div {
  display: flex;
  margin-top: 12px;
}
.similar-location {
  margin-right: 20px;
}
.similar-job-location {
  color: white;
}
.h1 {
  border: 1px solid red;
}
